.transition-all-75 {
  @apply transition-all duration-75;
}

.transition-all-100 {
  @apply transition-all duration-100;
}

.transition-all-150 {
  @apply transition-all duration-150;
}

.transition-all-200 {
  @apply transition-all duration-200;
}

.transition-all-300 {
  @apply transition-all duration-300;
}

.transition-all-400 {
  @apply transition-all duration-400;
}

.transition-all-500 {
  @apply transition-all duration-500;
}

.transition-all-700 {
  @apply transition-all duration-700;
}

.transition-all-1000 {
  @apply transition-all duration-1000;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}
