@import './variables.scss';

.container {
  @apply mx-auto w-full max-w-container px-4 md:px-7;
}

.h-page {
  height: calc(100vh - #{$top-bar-height-mobile});

  @media (screen(md)) {
    height: calc(100vh - $top-bar-height-tablet);
  }

  @media (screen(xl)) {
    height: calc(100vh - $top-bar-height);
  }
}

.focus-shadow {
  @apply focus:shadow-focus dark:focus:shadow-focusDrk;
}

.ring-border {
  @apply ring-1 ring-inset;
}

.transform-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
}
